<% provide(:title, t(".about")) %>
<h1><%= t ".title" %></h1>
<p>
  The <%= link_to t(".linkcontent"), t(".url") %> is a
  <%= link_to t(".book"),t(".urlbook") %> and
  <%= link_to t(".creencast"), t(".urlcreencast") %>
  to teach web development with
  <%= link_to t(".linkcontent"), t(".url") %>
  This is the sample application for the tutorial.
</p>
